
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	-webkit-box-flex: 1;
	flex-grow: 1;
	max-width: 100%;
}

.col-auto {
	-ms-flex: 0 0 auto;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%
}

.col-1 {
	-ms-flex: 0 0 calc(8.333333% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(8.333333% - var(--ai-gap));
	max-width: calc(8.333333% - var(--ai-gap))
}

.col-2 {
	-ms-flex: 0 0 calc(16.666667% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(16.666667% - var(--ai-gap));
	max-width: calc(16.666667% - var(--ai-gap))
}

.col-3 {
	-ms-flex: 0 0 calc(25% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(25% - var(--ai-gap));
	max-width: calc(25% - var(--ai-gap))
}

.col-4 {
	-ms-flex: 0 0 calc(33.333333% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(33.333333% - var(--ai-gap));
	max-width: calc(33.333333% - var(--ai-gap))
}

.col-5 {
	-ms-flex: 0 0 calc(41.666667% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(41.666667% - var(--ai-gap));
	max-width: calc(41.666667% - var(--ai-gap))
}

.col-6 {
	-ms-flex: 0 0 calc(50% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(50% - var(--ai-gap));
	max-width: calc(50% - var(--ai-gap))
}

.col-7 {
	-ms-flex: 0 0 calc(58.333333% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(58.333333% - var(--ai-gap));
	max-width: calc(58.333333% - var(--ai-gap))
}

.col-8 {
	-ms-flex: 0 0 calc(66.666667% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(66.666667% - var(--ai-gap));
	max-width: calc(66.666667% - var(--ai-gap))
}

.col-9 {
	-ms-flex: 0 0 calc(75% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(75% - var(--ai-gap));
	max-width: calc(75% - var(--ai-gap))
}

.col-10 {
	-ms-flex: 0 0 calc(83.333333% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(83.333333% - var(--ai-gap));
	max-width: calc(83.333333% - var(--ai-gap))
}

.col-11 {
	-ms-flex: 0 0 calc(91.666667% - var(--ai-gap));
	-webkit-box-flex: 0;
	flex: 0 0 calc(91.666667% - var(--ai-gap));
	max-width: calc(91.666667% - var(--ai-gap))
}

.col-12 {
	-ms-flex: 0 0 100%;
	-webkit-box-flex: 0;
	flex: 0 0 100%;
	max-width: 100%
}

.order-first {
	-ms-flex-order: -1;
	-webkit-box-ordinal-group: 0;
	order: -1
}

.order-last {
	-ms-flex-order: 13;
	-webkit-box-ordinal-group: 14;
	order: 13
}

.order-0 {
	-ms-flex-order: 0;
	-webkit-box-ordinal-group: 1;
	order: 0
}

.order-1 {
	-ms-flex-order: 1;
	-webkit-box-ordinal-group: 2;
	order: 1
}

.order-2 {
	-ms-flex-order: 2;
	-webkit-box-ordinal-group: 3;
	order: 2
}

.order-3 {
	-ms-flex-order: 3;
	-webkit-box-ordinal-group: 4;
	order: 3
}

.order-4 {
	-ms-flex-order: 4;
	-webkit-box-ordinal-group: 5;
	order: 4
}

.order-5 {
	-ms-flex-order: 5;
	-webkit-box-ordinal-group: 6;
	order: 5
}

.order-6 {
	-ms-flex-order: 6;
	-webkit-box-ordinal-group: 7;
	order: 6
}

.order-7 {
	-ms-flex-order: 7;
	-webkit-box-ordinal-group: 8;
	order: 7
}

.order-8 {
	-ms-flex-order: 8;
	-webkit-box-ordinal-group: 9;
	order: 8
}

.order-9 {
	-ms-flex-order: 9;
	-webkit-box-ordinal-group: 10;
	order: 9
}

.order-10 {
	-ms-flex-order: 10;
	-webkit-box-ordinal-group: 11;
	order: 10
}

.order-11 {
	-ms-flex-order: 11;
	-webkit-box-ordinal-group: 12;
	order: 11
}

.order-12 {
	-ms-flex-order: 12;
	-webkit-box-ordinal-group: 13;
	order: 12
}

.offset-1 {
	margin-left: calc(8.333333% - var(--ai-gap))
}

.offset-2 {
	margin-left: calc(16.666667% - var(--ai-gap))
}

.offset-3 {
	margin-left: calc(25% - var(--ai-gap))
}

.offset-4 {
	margin-left: calc(33.333333% - var(--ai-gap))
}

.offset-5 {
	margin-left: calc(41.666667% - var(--ai-gap))
}

.offset-6 {
	margin-left: calc(50% - var(--ai-gap))
}

.offset-7 {
	margin-left: calc(58.333333% - var(--ai-gap))
}

.offset-8 {
	margin-left: calc(66.666667% - var(--ai-gap))
}

.offset-9 {
	margin-left: calc(75% - var(--ai-gap))
}

.offset-10 {
	margin-left: calc(83.333333% - var(--ai-gap))
}

.offset-11 {
	margin-left: calc(91.666667% - var(--ai-gap))
}


@media (min-width: 576px) {
	.col-sm {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		-webkit-box-flex: 1;
		flex-grow: 1;
		max-width: 100%
	}


	.col-sm-auto {
		-ms-flex: 0 0 auto;
		-webkit-box-flex: 0;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-sm-1 {
		-ms-flex: 0 0 calc(8.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(8.333333% - var(--ai-gap));
		max-width: calc(8.333333% - var(--ai-gap))
	}

	.col-sm-2 {
		-ms-flex: 0 0 calc(16.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(16.666667% - var(--ai-gap));
		max-width: calc(16.666667% - var(--ai-gap))
	}

	.col-sm-3 {
		-ms-flex: 0 0 calc(25% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(25% - var(--ai-gap));
		max-width: calc(25% - var(--ai-gap))
	}

	.col-sm-4 {
		-ms-flex: 0 0 calc(33.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(33.333333% - var(--ai-gap));
		max-width: calc(33.333333% - var(--ai-gap))
	}

	.col-sm-5 {
		-ms-flex: 0 0 calc(41.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(41.666667% - var(--ai-gap));
		max-width: calc(41.666667% - var(--ai-gap))
	}

	.col-sm-6 {
		-ms-flex: 0 0 calc(50% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(50% - var(--ai-gap));
		max-width: calc(50% - var(--ai-gap))
	}

	.col-sm-7 {
		-ms-flex: 0 0 calc(58.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(58.333333% - var(--ai-gap));
		max-width: calc(58.333333% - var(--ai-gap))
	}

	.col-sm-8 {
		-ms-flex: 0 0 calc(66.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(66.666667% - var(--ai-gap));
		max-width: calc(66.666667% - var(--ai-gap))
	}

	.col-sm-9 {
		-ms-flex: 0 0 calc(75% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(75% - var(--ai-gap));
		max-width: calc(75% - var(--ai-gap))
	}

	.col-sm-10 {
		-ms-flex: 0 0 calc(83.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(83.333333% - var(--ai-gap));
		max-width: calc(83.333333% - var(--ai-gap))
	}

	.col-sm-11 {
		-ms-flex: 0 0 calc(91.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(91.666667% - var(--ai-gap));
		max-width: calc(91.666667% - var(--ai-gap))
	}

	.col-sm-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-sm-first {
		-ms-flex-order: -1;
		-webkit-box-ordinal-group: 0;
		order: -1
	}

	.order-sm-last {
		-ms-flex-order: 13;
		-webkit-box-ordinal-group: 14;
		order: 13
	}

	.order-sm-0 {
		-ms-flex-order: 0;
		-webkit-box-ordinal-group: 1;
		order: 0
	}

	.order-sm-1 {
		-ms-flex-order: 1;
		-webkit-box-ordinal-group: 2;
		order: 1
	}

	.order-sm-2 {
		-ms-flex-order: 2;
		-webkit-box-ordinal-group: 3;
		order: 2
	}

	.order-sm-3 {
		-ms-flex-order: 3;
		-webkit-box-ordinal-group: 4;
		order: 3
	}

	.order-sm-4 {
		-ms-flex-order: 4;
		-webkit-box-ordinal-group: 5;
		order: 4
	}

	.order-sm-5 {
		-ms-flex-order: 5;
		-webkit-box-ordinal-group: 6;
		order: 5
	}

	.order-sm-6 {
		-ms-flex-order: 6;
		-webkit-box-ordinal-group: 7;
		order: 6
	}

	.order-sm-7 {
		-ms-flex-order: 7;
		-webkit-box-ordinal-group: 8;
		order: 7
	}

	.order-sm-8 {
		-ms-flex-order: 8;
		-webkit-box-ordinal-group: 9;
		order: 8
	}

	.order-sm-9 {
		-ms-flex-order: 9;
		-webkit-box-ordinal-group: 10;
		order: 9
	}

	.order-sm-10 {
		-ms-flex-order: 10;
		-webkit-box-ordinal-group: 11;
		order: 10
	}

	.order-sm-11 {
		-ms-flex-order: 11;
		-webkit-box-ordinal-group: 12;
		order: 11
	}

	.order-sm-12 {
		-ms-flex-order: 12;
		-webkit-box-ordinal-group: 13;
		order: 12
	}

	.offset-sm-0 {
		margin-left: 0
	}

	.offset-sm-1 {
		margin-left: calc(8.333333% - var(--ai-gap))
	}

	.offset-sm-2 {
		margin-left: calc(16.666667% - var(--ai-gap))
	}

	.offset-sm-3 {
		margin-left: calc(25% - var(--ai-gap))
	}

	.offset-sm-4 {
		margin-left: calc(33.333333% - var(--ai-gap))
	}

	.offset-sm-5 {
		margin-left: calc(41.666667% - var(--ai-gap))
	}

	.offset-sm-6 {
		margin-left: calc(50% - var(--ai-gap))
	}

	.offset-sm-7 {
		margin-left: calc(58.333333% - var(--ai-gap))
	}

	.offset-sm-8 {
		margin-left: calc(66.666667% - var(--ai-gap))
	}

	.offset-sm-9 {
		margin-left: calc(75% - var(--ai-gap))
	}

	.offset-sm-10 {
		margin-left: calc(83.333333% - var(--ai-gap))
	}

	.offset-sm-11 {
		margin-left: calc(91.666667% - var(--ai-gap))
	}
}

@media (min-width: 768px) {
	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		-webkit-box-flex: 1;
		flex-grow: 1;
		max-width: 100%
	}


	.col-md-auto {
		-ms-flex: 0 0 auto;
		-webkit-box-flex: 0;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-md-1 {
		-ms-flex: 0 0 calc(8.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(8.333333% - var(--ai-gap));
		max-width: calc(8.333333% - var(--ai-gap))
	}

	.col-md-2 {
		-ms-flex: 0 0 calc(16.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(16.666667% - var(--ai-gap));
		max-width: calc(16.666667% - var(--ai-gap))
	}

	.col-md-3 {
		-ms-flex: 0 0 calc(25% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(25% - var(--ai-gap));
		max-width: calc(25% - var(--ai-gap))
	}

	.col-md-4 {
		-ms-flex: 0 0 calc(33.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(33.333333% - var(--ai-gap));
		max-width: calc(33.333333% - var(--ai-gap))
	}

	.col-md-5 {
		-ms-flex: 0 0 calc(41.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(41.666667% - var(--ai-gap));
		max-width: calc(41.666667% - var(--ai-gap))
	}

	.col-md-6 {
		-ms-flex: 0 0 calc(50% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(50% - var(--ai-gap));
		max-width: calc(50% - var(--ai-gap))
	}

	.col-md-7 {
		-ms-flex: 0 0 calc(58.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(58.333333% - var(--ai-gap));
		max-width: calc(58.333333% - var(--ai-gap))
	}

	.col-md-8 {
		-ms-flex: 0 0 calc(66.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(66.666667% - var(--ai-gap));
		max-width: calc(66.666667% - var(--ai-gap))
	}

	.col-md-9 {
		-ms-flex: 0 0 calc(75% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(75% - var(--ai-gap));
		max-width: calc(75% - var(--ai-gap))
	}

	.col-md-10 {
		-ms-flex: 0 0 calc(83.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(83.333333% - var(--ai-gap));
		max-width: calc(83.333333% - var(--ai-gap))
	}

	.col-md-11 {
		-ms-flex: 0 0 calc(91.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(91.666667% - var(--ai-gap));
		max-width: calc(91.666667% - var(--ai-gap))
	}

	.col-md-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-md-first {
		-ms-flex-order: -1;
		-webkit-box-ordinal-group: 0;
		order: -1
	}

	.order-md-last {
		-ms-flex-order: 13;
		-webkit-box-ordinal-group: 14;
		order: 13
	}

	.order-md-0 {
		-ms-flex-order: 0;
		-webkit-box-ordinal-group: 1;
		order: 0
	}

	.order-md-1 {
		-ms-flex-order: 1;
		-webkit-box-ordinal-group: 2;
		order: 1
	}

	.order-md-2 {
		-ms-flex-order: 2;
		-webkit-box-ordinal-group: 3;
		order: 2
	}

	.order-md-3 {
		-ms-flex-order: 3;
		-webkit-box-ordinal-group: 4;
		order: 3
	}

	.order-md-4 {
		-ms-flex-order: 4;
		-webkit-box-ordinal-group: 5;
		order: 4
	}

	.order-md-5 {
		-ms-flex-order: 5;
		-webkit-box-ordinal-group: 6;
		order: 5
	}

	.order-md-6 {
		-ms-flex-order: 6;
		-webkit-box-ordinal-group: 7;
		order: 6
	}

	.order-md-7 {
		-ms-flex-order: 7;
		-webkit-box-ordinal-group: 8;
		order: 7
	}

	.order-md-8 {
		-ms-flex-order: 8;
		-webkit-box-ordinal-group: 9;
		order: 8
	}

	.order-md-9 {
		-ms-flex-order: 9;
		-webkit-box-ordinal-group: 10;
		order: 9
	}

	.order-md-10 {
		-ms-flex-order: 10;
		-webkit-box-ordinal-group: 11;
		order: 10
	}

	.order-md-11 {
		-ms-flex-order: 11;
		-webkit-box-ordinal-group: 12;
		order: 11
	}

	.order-md-12 {
		-ms-flex-order: 12;
		-webkit-box-ordinal-group: 13;
		order: 12
	}

	.offset-md-0 {
		margin-left: 0
	}

	.offset-md-1 {
		margin-left: calc(8.333333% - var(--ai-gap))
	}

	.offset-md-2 {
		margin-left: calc(16.666667% - var(--ai-gap))
	}

	.offset-md-3 {
		margin-left: calc(25% - var(--ai-gap))
	}

	.offset-md-4 {
		margin-left: calc(33.333333% - var(--ai-gap))
	}

	.offset-md-5 {
		margin-left: calc(41.666667% - var(--ai-gap))
	}

	.offset-md-6 {
		margin-left: calc(50% - var(--ai-gap))
	}

	.offset-md-7 {
		margin-left: calc(58.333333% - var(--ai-gap))
	}

	.offset-md-8 {
		margin-left: calc(66.666667% - var(--ai-gap))
	}

	.offset-md-9 {
		margin-left: calc(75% - var(--ai-gap))
	}

	.offset-md-10 {
		margin-left: calc(83.333333% - var(--ai-gap))
	}

	.offset-md-11 {
		margin-left: calc(91.666667% - var(--ai-gap))
	}
}

@media (min-width: 992px) {
	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		-webkit-box-flex: 1;
		flex-grow: 1;
		max-width: 100%
	}


	.col-lg-auto {
		-ms-flex: 0 0 auto;
		-webkit-box-flex: 0;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-lg-1 {
		-ms-flex: 0 0 calc(8.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(8.333333% - var(--ai-gap));
		max-width: calc(8.333333% - var(--ai-gap))
	}

	.col-lg-2 {
		-ms-flex: 0 0 calc(16.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(16.666667% - var(--ai-gap));
		max-width: calc(16.666667% - var(--ai-gap))
	}

	.col-lg-3 {
		-ms-flex: 0 0 calc(25% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(25% - var(--ai-gap));
		max-width: calc(25% - var(--ai-gap))
	}

	.col-lg-4 {
		-ms-flex: 0 0 calc(33.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(33.333333% - var(--ai-gap));
		max-width: calc(33.333333% - var(--ai-gap))
	}

	.col-lg-5 {
		-ms-flex: 0 0 calc(41.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(41.666667% - var(--ai-gap));
		max-width: calc(41.666667% - var(--ai-gap))
	}

	.col-lg-6 {
		-ms-flex: 0 0 calc(50% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(50% - var(--ai-gap));
		max-width: calc(50% - var(--ai-gap))
	}

	.col-lg-7 {
		-ms-flex: 0 0 calc(58.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(58.333333% - var(--ai-gap));
		max-width: calc(58.333333% - var(--ai-gap))
	}

	.col-lg-8 {
		-ms-flex: 0 0 calc(66.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(66.666667% - var(--ai-gap));
		max-width: calc(66.666667% - var(--ai-gap))
	}

	.col-lg-9 {
		-ms-flex: 0 0 calc(75% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(75% - var(--ai-gap));
		max-width: calc(75% - var(--ai-gap))
	}

	.col-lg-10 {
		-ms-flex: 0 0 calc(83.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(83.333333% - var(--ai-gap));
		max-width: calc(83.333333% - var(--ai-gap))
	}

	.col-lg-11 {
		-ms-flex: 0 0 calc(91.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(91.666667% - var(--ai-gap));
		max-width: calc(91.666667% - var(--ai-gap))
	}

	.col-lg-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-lg-first {
		-ms-flex-order: -1;
		-webkit-box-ordinal-group: 0;
		order: -1
	}

	.order-lg-last {
		-ms-flex-order: 13;
		-webkit-box-ordinal-group: 14;
		order: 13
	}

	.order-lg-0 {
		-ms-flex-order: 0;
		-webkit-box-ordinal-group: 1;
		order: 0
	}

	.order-lg-1 {
		-ms-flex-order: 1;
		-webkit-box-ordinal-group: 2;
		order: 1
	}

	.order-lg-2 {
		-ms-flex-order: 2;
		-webkit-box-ordinal-group: 3;
		order: 2
	}

	.order-lg-3 {
		-ms-flex-order: 3;
		-webkit-box-ordinal-group: 4;
		order: 3
	}

	.order-lg-4 {
		-ms-flex-order: 4;
		-webkit-box-ordinal-group: 5;
		order: 4
	}

	.order-lg-5 {
		-ms-flex-order: 5;
		-webkit-box-ordinal-group: 6;
		order: 5
	}

	.order-lg-6 {
		-ms-flex-order: 6;
		-webkit-box-ordinal-group: 7;
		order: 6
	}

	.order-lg-7 {
		-ms-flex-order: 7;
		-webkit-box-ordinal-group: 8;
		order: 7
	}

	.order-lg-8 {
		-ms-flex-order: 8;
		-webkit-box-ordinal-group: 9;
		order: 8
	}

	.order-lg-9 {
		-ms-flex-order: 9;
		-webkit-box-ordinal-group: 10;
		order: 9
	}

	.order-lg-10 {
		-ms-flex-order: 10;
		-webkit-box-ordinal-group: 11;
		order: 10
	}

	.order-lg-11 {
		-ms-flex-order: 11;
		-webkit-box-ordinal-group: 12;
		order: 11
	}

	.order-lg-12 {
		-ms-flex-order: 12;
		-webkit-box-ordinal-group: 13;
		order: 12
	}

	.offset-lg-0 {
		margin-left: 0
	}

	.offset-lg-1 {
		margin-left: calc(8.333333% - var(--ai-gap))
	}

	.offset-lg-2 {
		margin-left: calc(16.666667% - var(--ai-gap))
	}

	.offset-lg-3 {
		margin-left: calc(25% - var(--ai-gap))
	}

	.offset-lg-4 {
		margin-left: calc(33.333333% - var(--ai-gap))
	}

	.offset-lg-5 {
		margin-left: calc(41.666667% - var(--ai-gap))
	}

	.offset-lg-6 {
		margin-left: calc(50% - var(--ai-gap))
	}

	.offset-lg-7 {
		margin-left: calc(58.333333% - var(--ai-gap))
	}

	.offset-lg-8 {
		margin-left: calc(66.666667% - var(--ai-gap))
	}

	.offset-lg-9 {
		margin-left: calc(75% - var(--ai-gap))
	}

	.offset-lg-10 {
		margin-left: calc(83.333333% - var(--ai-gap))
	}

	.offset-lg-11 {
		margin-left: calc(91.666667% - var(--ai-gap))
	}
}

@media (min-width: 1200px) {
	.col-xl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		-webkit-box-flex: 1;
		flex-grow: 1;
		max-width: 100%
	}


	.col-xl-auto {
		-ms-flex: 0 0 auto;
		-webkit-box-flex: 0;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}

	.col-xl-1 {
		-ms-flex: 0 0 calc(8.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(8.333333% - var(--ai-gap));
		max-width: calc(8.333333% - var(--ai-gap))
	}

	.col-xl-2 {
		-ms-flex: 0 0 calc(16.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(16.666667% - var(--ai-gap));
		max-width: calc(16.666667% - var(--ai-gap))
	}

	.col-xl-3 {
		-ms-flex: 0 0 calc(25% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(25% - var(--ai-gap));
		max-width: calc(25% - var(--ai-gap))
	}

	.col-xl-4 {
		-ms-flex: 0 0 calc(33.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(33.333333% - var(--ai-gap));
		max-width: calc(33.333333% - var(--ai-gap))
	}

	.col-xl-5 {
		-ms-flex: 0 0 calc(41.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(41.666667% - var(--ai-gap));
		max-width: calc(41.666667% - var(--ai-gap))
	}

	.col-xl-6 {
		-ms-flex: 0 0 calc(50% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(50% - var(--ai-gap));
		max-width: calc(50% - var(--ai-gap))
	}

	.col-xl-7 {
		-ms-flex: 0 0 calc(58.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(58.333333% - var(--ai-gap));
		max-width: calc(58.333333% - var(--ai-gap))
	}

	.col-xl-8 {
		-ms-flex: 0 0 calc(66.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(66.666667% - var(--ai-gap));
		max-width: calc(66.666667% - var(--ai-gap))
	}

	.col-xl-9 {
		-ms-flex: 0 0 calc(75% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(75% - var(--ai-gap));
		max-width: calc(75% - var(--ai-gap))
	}

	.col-xl-10 {
		-ms-flex: 0 0 calc(83.333333% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(83.333333% - var(--ai-gap));
		max-width: calc(83.333333% - var(--ai-gap))
	}

	.col-xl-11 {
		-ms-flex: 0 0 calc(91.666667% - var(--ai-gap));
		-webkit-box-flex: 0;
		flex: 0 0 calc(91.666667% - var(--ai-gap));
		max-width: calc(91.666667% - var(--ai-gap))
	}

	.col-xl-12 {
		-ms-flex: 0 0 100%;
		-webkit-box-flex: 0;
		flex: 0 0 100%;
		max-width: 100%
	}

	.order-xl-first {
		-ms-flex-order: -1;
		-webkit-box-ordinal-group: 0;
		order: -1
	}

	.order-xl-last {
		-ms-flex-order: 13;
		-webkit-box-ordinal-group: 14;
		order: 13
	}

	.order-xl-0 {
		-ms-flex-order: 0;
		-webkit-box-ordinal-group: 1;
		order: 0
	}

	.order-xl-1 {
		-ms-flex-order: 1;
		-webkit-box-ordinal-group: 2;
		order: 1
	}

	.order-xl-2 {
		-ms-flex-order: 2;
		-webkit-box-ordinal-group: 3;
		order: 2
	}

	.order-xl-3 {
		-ms-flex-order: 3;
		-webkit-box-ordinal-group: 4;
		order: 3
	}

	.order-xl-4 {
		-ms-flex-order: 4;
		-webkit-box-ordinal-group: 5;
		order: 4
	}

	.order-xl-5 {
		-ms-flex-order: 5;
		-webkit-box-ordinal-group: 6;
		order: 5
	}

	.order-xl-6 {
		-ms-flex-order: 6;
		-webkit-box-ordinal-group: 7;
		order: 6
	}

	.order-xl-7 {
		-ms-flex-order: 7;
		-webkit-box-ordinal-group: 8;
		order: 7
	}

	.order-xl-8 {
		-ms-flex-order: 8;
		-webkit-box-ordinal-group: 9;
		order: 8
	}

	.order-xl-9 {
		-ms-flex-order: 9;
		-webkit-box-ordinal-group: 10;
		order: 9
	}

	.order-xl-10 {
		-ms-flex-order: 10;
		-webkit-box-ordinal-group: 11;
		order: 10
	}

	.order-xl-11 {
		-ms-flex-order: 11;
		-webkit-box-ordinal-group: 12;
		order: 11
	}

	.order-xl-12 {
		-ms-flex-order: 12;
		-webkit-box-ordinal-group: 13;
		order: 12
	}

	.offset-xl-0 {
		margin-left: 0
	}

	.offset-xl-1 {
		margin-left: calc(8.333333% - var(--ai-gap))
	}

	.offset-xl-2 {
		margin-left: calc(16.666667% - var(--ai-gap))
	}

	.offset-xl-3 {
		margin-left: calc(25% - var(--ai-gap))
	}

	.offset-xl-4 {
		margin-left: calc(33.333333% - var(--ai-gap))
	}

	.offset-xl-5 {
		margin-left: calc(41.666667% - var(--ai-gap))
	}

	.offset-xl-6 {
		margin-left: calc(50% - var(--ai-gap))
	}

	.offset-xl-7 {
		margin-left: calc(58.333333% - var(--ai-gap))
	}

	.offset-xl-8 {
		margin-left: calc(66.666667% - var(--ai-gap))
	}

	.offset-xl-9 {
		margin-left: calc(75% - var(--ai-gap))
	}

	.offset-xl-10 {
		margin-left: calc(83.333333% - var(--ai-gap))
	}

	.offset-xl-11 {
		margin-left: calc(91.666667% - var(--ai-gap))
	}
}
