:root{
	--list-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	--list-box-shadow-hover: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	--list-border-radius: 5px;
	--list-padding: 10px;
	--list-font-size: 16px;
	--list-margin: 10px;
	--list-outline-width: 1px;
	--list-cursor: pointer;
}

.list-group {
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	background-color: white;
	-moz-box-shadow: var(--list-box-shadow);
	-webkit-box-shadow:var(--list-box-shadow);
	box-shadow:  var(--list-box-shadow);
	border-radius: var(--list-border-radius);
}
.list-group:hover{
	box-shadow: var(--list-box-shadow-hover);
}
.list-icon-left {
	margin-right: var(--list-margin);
	font-size: var(--list-font-size);
	cursor: pointer;
}
.list-icon-right {
	margin-left: auto;
	margin-right: 0;
	font-size: var(--list-font-size);
	cursor: pointer;
}
.list-rounded {
	--list-border-radius: 15px;
}

.list-borderless {
	--list-outline-width: 0px;
}
.list-outlined {
	border: var(--list-outline-width) solid #d4d4d45c;
}
.list-bordered {
	border: var(--list-outline-width) solid #d4d4d45c;
	box-shadow: none;
}
.list-outlined:last-child,.list-bordered:last-child{
	border-bottom: none;
}
.list-striped .list-group-item:nth-child(even){
	background:#00000005;

}
.list-striped,.list-striped:hover{
	box-shadow: none;
}
.list-separate,.list-separate:hover{
	box-shadow: none;
}
.list-separate .list-group-item {
	border-radius: var(--list-border-radius);
	margin-bottom: calc(var(--list-margin) + 5px);
	box-shadow: rgba(0, 0, 0, 0.05) 0 0 5px 0, rgba(0, 0, 0, 0.05) 0 0 1px 0;
}
.list-no-radius {
	--list-border-radius: 0px;
}
.list-group .active{
	background:var(--primary);
	color: white;
}

.list-group-item:first-child {
	border-top-left-radius: var(--list-border-radius);
	border-top-right-radius: var(--list-border-radius);
}

.list-group-item:last-child {
	border-bottom-left-radius: var(--list-border-radius);
	border-bottom-right-radius: var(--list-border-radius);
}

.list-group-item {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: var(--list-padding) calc(var(--list-padding) * 1.5);
	font-size: var(--list-font-size);
	background-color: inherit;
	border-bottom: var(--list-outline-width) solid #d4d4d45c;
}

.list-group a {
	text-decoration: none !important;
	color: #303a52;
}

.list-group-item:hover {
	background: rgba(0, 0, 0, 0.03);
}

.list-group-item.disabled, .list-group-item:disabled {
	color: #6c757d;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	cursor: not-allowed;
}
.list-group-row {
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;

}
.list-group-row .list-group-item:first-child {
	border-radius: 0;
	border-top-left-radius: var(--list-border-radius);
	border-bottom-left-radius: var(--list-border-radius);
}
.list-group-row .list-group-item:last-child {
	border-radius: 0;
	border-top-right-radius: var(--list-border-radius);
	border-bottom-right-radius: var(--list-border-radius);
}

/*Index Size*/

.list-large {
	--list-padding: 15px;
	--list-font-size: 17px;
	--list-margin: 15px;
}

.list-extra-large {
	--list-padding: 20px;
	--list-font-size: 18px;
	--list-margin: 18px;
}

.list-small {
	--list-padding: 8px;
	--list-font-size: 14px;
	--list-margin: 8px;
}

.list-extra-small {
	--list-padding: 5px;
	--list-font-size: 13px;
	--list-margin: 5px;
}


@media (min-width: 576px) {
	.list-sm-large {
		--list-padding: 15px;
		--list-font-size: 17px;
		--list-margin: 15px;
	}

	.list-sm-extra-large {
		--list-padding: 20px;
		--list-font-size: 18px;
		--list-margin: 18px;
	}

	.list-sm-small {
		--list-padding: 8px;
		--list-font-size: 14px;
		--list-margin: 8px;
	}

	.list-sm-extra-small {
		--list-padding: 5px;
		--list-font-size: 13px;
		--list-margin: 5px;
	}
}

@media (min-width: 768px) {
	.list-md-large {
		--list-padding: 15px;
		--list-font-size: 17px;
		--list-margin: 15px;
	}

	.list-md-extra-large {
		--list-padding: 20px;
		--list-font-size: 18px;
		--list-margin: 18px;
	}

	.list-md-small {
		--list-padding: 8px;
		--list-font-size: 14px;
		--list-margin: 8px;
	}

	.list-md-extra-small {
		--list-padding: 5px;
		--list-font-size: 13px;
		--list-margin: 5px;
	}
}

@media (min-width: 992px) {
	.list-lg-large {
		--list-padding: 15px;
		--list-font-size: 17px;
		--list-margin: 15px;
	}

	.list-lg-extra-large {
		--list-padding: 20px;
		--list-font-size: 18px;
		--list-margin: 18px;
	}

	.list-lg-small {
		--list-padding: 8px;
		--list-font-size: 14px;
		--list-margin: 8px;
	}

	.list-lg-extra-small {
		--list-padding: 5px;
		--list-font-size: 13px;
		--list-margin: 5px;
	}
}

@media (min-width: 1200px) {
	.list-xl-large {
		--list-padding: 15px;
		--list-font-size: 17px;
		--list-margin: 15px;
	}

	.list-xl-extra-large {
		--list-padding: 20px;
		--list-font-size: 18px;
		--list-margin: 18px;
	}

	.list-xl-small {
		--list-padding: 8px;
		--list-font-size: 14px;
		--list-margin: 8px;
	}

	.list-xl-extra-small {
		--list-padding: 5px;
		--list-font-size: 13px;
		--list-margin: 5px;
	}
}
