:root {
	--gap: 10px;
}

.space {
	display: inline-flex;
	gap: var(--gap);
}

.space-direction-column > * {
	width: 100%;
}

.space-wrap {
	flex-wrap: wrap;
}

.space-align-start {
	align-items: flex-start;
}

.space-align-end {
	align-items: flex-end;
}

.space-align-center {
	align-items: center;
}

.space-align-baseline {
	align-items: baseline;
}
