:root {
    --ai-gap: 10px;
}

.space {
    display: flex;
    gap: var(--ai-gap);
    width: 100%;
    align-items: stretch;
}

/*.space-direction-column > * {*/
/*	width: 100%;*/
/*}*/

.space-wrap {
    flex-wrap: wrap;
}

.space-align-start {
    align-items: flex-start;
}

.space-align-end {
    align-items: flex-end;
}

.space-align-center {
    align-items: center;
}

.space-align-baseline {
    align-items: baseline;
}
