:root {
	--dropdown-box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
	--dropdown-border-radius: 5px;
	--dropdown-padding: 8px 10px;
	--dropdown-side-padding: 5px 0;
	--dropdown-font-size: 16px;
	--dropdown-margin: 10px;
	--dropdown-min-width: 200px;
	--dropdown-max-height: 200px;
	--dropdown-outline-width: 2px;
	--dropdown-cursor: pointer;
	--dropdown-bg: #efefef;
}

.dropdown {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.dropdown-wrap {
	overflow: auto;
	max-height: var(--dropdown-max-height);
}

.dropdown.dropdown-open:before {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	content: "";
	z-index: 9999;
}

.dropdown-open {
	z-index: 2;
}

.dropdown-btn {
	border: none;
	position: relative;
	padding: var(--dropdown-padding);
	border-radius: var(--dropdown-border-radius);
}


.dropdown-search-input {
	border: var(--dropdown-outline-width) solid var(--dropdown-bg);
	padding: var(--dropdown-padding);
	border-radius: var(--dropdown-border-radius);
	width: calc(100% - var(--dropdown-margin));
	margin: 0 auto var(--dropdown-margin);
	display: block;
}

.dropdown-open .dropdown-menu {
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

.dropdown-wrap::-webkit-scrollbar {
	width: calc(var(--dropdown-font-size) / 2);
}

.dropdown-wrap::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 50px;
}

.dropdown-wrap::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 50px;
}

.dropdown-rounded {
	--dropdown-border-radius: 10px;
}

.dropdown-no-radius {
	--dropdown-border-radius: 0px;
}

.dropdown-toggle:before {
	position: absolute;
	content: "";
	top: calc(50% - 9px);
	right: 15px;
	width: calc(var(--dropdown-font-size) / 2);
	height: calc(var(--dropdown-font-size) / 2);
	border: var(--dropdown-outline-width) solid;
	border-top: 0;
	border-left: 0;
	-webkit-transform: translateY(calc(-50% + 7px)) rotate(45deg);
	-ms-transform: translateY(calc(-50% + 7px)) rotate(45deg);
	transform: translateY(calc(-50% + 7px)) rotate(45deg);
}

.dropdown-toggle {
	padding-right: 33px !important;
}

.dropdown-menu {
	position: absolute;
	background: white;
	min-width: var(--dropdown-min-width);
	max-width: 100%;
	width: auto;
	font-size: var(--dropdown-font-size);
	font-weight: 500;
	border-radius: var(--dropdown-border-radius);
	left: 0;
	-moz-box-shadow: var(--dropdown-box-shadow);
	-webkit-box-shadow: var(--dropdown-box-shadow);
	box-shadow: var(--dropdown-box-shadow);
	padding: var(--dropdown-side-padding);
	z-index: 999999;
	top: calc(100% + 10px);
	height: auto;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 0;
	list-style: none;
	transform: scale(0);
	transform-origin: top left;
	margin: 0;
}

.dropdown-menu:before {
	content: "";
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent white transparent;
	position: absolute;
	top: -14px;
	left: 20px;
}

.dropdown-floating .dropdown-menu:before {
	display: none;
}

.dropdown-fluid {
	--dropdown-side-padding: 5px;
}

.dropdown-fluid .dropdown-item {
	border-radius: var(--dropdown-border-radius);
}

.dropdown-menu.dropdown-menu-right:before {
	top: -14px;
	right: 20px;
	left: unset;
}

.dropdown-fluid .dropdown-wrap {
	padding-right: var(--dropdown-side-padding);
}

.dropdown-menu.dropdown-menu-right {
	left: unset;
	right: 0;
	transform-origin: top right;
}

.dropdown-item:hover {
	background: #f4f4f4;
	cursor: pointer;
}

.dropdown-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: var(--dropdown-padding);
	color: #303a52;
}

.dropdown-icon-left {
	margin-right: var(--dropdown-margin);
	font-size: var(--dropdown-font-size);
}

.dropdown-icon-right {
	margin-left: auto;
	margin-right: 0;
	font-size: var(--dropdown-font-size);
}

/*Index Size*/

.dropdown-large {
	--dropdown-padding: 10px 18px;
	--dropdown-font-size: 17px;
	--dropdown-min-width: 250px;
	--dropdown-max-height: 250px;
	--dropdown-margin: 15px;
}

.dropdown-large.dropdown-fluid {
	--dropdown-side-padding: 8px;
}

.dropdown-extra-large {
	--dropdown-padding: 10px 20px;
	--dropdown-margin: 15px;
	--dropdown-font-size: 19px;
	--dropdown-min-width: 300px;
	--dropdown-max-height: 300px;
}

.dropdown-extra-large.dropdown-fluid {
	--dropdown-side-padding: 10px;
}

.dropdown-small {
	--dropdown-padding: 5px 15px;
	--dropdown-margin: 5px;
	--dropdown-font-size: 14px;
	--dropdown-min-width: 150px;
	--dropdown-max-height: 150px;

}

.dropdown-small.dropdown-fluid {
	--dropdown-side-padding: 5px;
}

.dropdown-extra-small {
	--dropdown-margin: 3px;
	--dropdown-padding: 3px 10px;
	--dropdown-font-size: 12px;
	--dropdown-min-width: 130px;
	--dropdown-max-height: 130px;

}

.dropdown-extra-small.dropdown-fluid {
	--dropdown-side-padding: 3px;
}

.dropdown-drawer .dropdown-menu:before {
	display: none;
}

.dropdown-divider {
	height: 0;
	width: 100%;
	margin: 4px 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
	display: block;
}

.dropdown-full .dropdown-menu {
	width: 100%;
	min-width: fit-content;
}

.dropdown-drawer .dropdown-menu {
	border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
	top: 100%;
	width: 100%;
	-moz-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}

.dropdown-drawer .dropdown-toggle {
	border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0 0;

}

.dropdown-header {
	display: block;
	padding: var(--dropdown-padding);
	margin-bottom: 0;
	font-size: calc(var(--dropdown-font-size) - 2px);
	color: #575b5d;
	font-weight: 600;
}

.drop-right .dropdown-menu {
	left: calc(100% + 10px);
	right: unset;
	top: 0;
	width: auto;
	transform-origin: top left;
}

.drop-right .dropdown-menu:before {
	right: unset;
	top: 15px;
	left: -14px;
	border-color: transparent #ffffff transparent #9c27b000;
}

.dropdown-drawer.drop-right .dropdown-toggle {
	border-radius: var(--dropdown-border-radius) 0 0 var(--dropdown-border-radius);
}

.dropdown-drawer.drop-right .dropdown-menu {
	border-radius: 0 var(--dropdown-border-radius) var(--dropdown-border-radius) var(--dropdown-border-radius);
	left: 100%;
}


.drop-left .dropdown-menu {
	right: calc(100% + 10px);
	left: unset;
	top: 0;
	width: auto;
	transform-origin: top right;
}

.drop-left .dropdown-menu:before {
	left: unset;
	top: 15px;
	right: -14px;
	border-color: transparent transparent transparent #ffffff;
}

.dropdown-drawer.drop-left .dropdown-toggle {
	border-radius: 0px var(--dropdown-border-radius) var(--dropdown-border-radius) 0px;
}

.dropdown-drawer.drop-left .dropdown-menu {
	border-radius: var(--dropdown-border-radius) 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
	right: 100%;
}


.drop-top .dropdown-menu {
	bottom: calc(100% + 10px);
	top: unset;
	transform-origin: bottom left;
}

.drop-top .dropdown-menu.dropdown-menu-right {
	transform-origin: bottom right;
}

.drop-top .dropdown-menu:before {
	top: unset;
	left: 20px;
	bottom: -14px;
	border-color: white transparent transparent transparent;
}

.drop-top .dropdown-menu.dropdown-menu-right:before {
	left: unset;
}

.dropdown-item-text {
	display: block;
	padding: var(--dropdown-padding);
	color: #303a52;
}

.dropdown-drawer.drop-top .dropdown-toggle {
	border-radius: 0 0 var(--dropdown-border-radius) var(--dropdown-border-radius);
}

.dropdown-drawer.drop-top .dropdown-menu {
	border-radius: var(--dropdown-border-radius) var(--dropdown-border-radius) 0 0;
	bottom: 100%;
}

.btn-primary ~ .dropdown-menu .dropdown-item.active {
	background: var(--primary);
	color: white;
}


.btn-light ~ .dropdown-menu .dropdown-item.active {
	background: #f4f4f4;
	color: var(--dark-color);
}

.btn-dark ~ .dropdown-menu .dropdown-item.active {
	background: var(--dark);
	color: white;
}

.dropdown-item.active {
	background: var(--primary);
	color: white;
}

@media (min-width: 576px) {
	.dropdown-sm-large {
		--dropdown-padding: 10px 18px;
		--dropdown-font-size: 17px;
		--dropdown-min-width: 250px;
		--dropdown-max-height: 250px;
		--dropdown-margin: 15px;
		--dropdown-side-padding: 8px;
	}

	.dropdown-sm-extra-large {
		--dropdown-padding: 10px 20px;
		--dropdown-margin: 15px;
		--dropdown-font-size: 19px;
		--dropdown-min-width: 300px;
		--dropdown-max-height: 300px;
		--dropdown-side-padding: 10px;
	}

	.dropdown-sm-small {
		--dropdown-padding: 5px 15px;
		--dropdown-margin: 5px;
		--dropdown-font-size: 14px;
		--dropdown-min-width: 150px;
		--dropdown-max-height: 150px;
		--dropdown-side-padding: 5px;
	}

	.dropdown-sm-extra-small {
		--dropdown-margin: 3px;
		--dropdown-padding: 3px 10px;
		--dropdown-font-size: 12px;
		--dropdown-min-width: 130px;
		--dropdown-max-height: 130px;
		--dropdown-side-padding: 3px;
	}
}

@media (min-width: 768px) {

	.dropdown-md-large {
		--dropdown-padding: 10px 18px;
		--dropdown-font-size: 17px;
		--dropdown-min-width: 250px;
		--dropdown-max-height: 250px;
		--dropdown-margin: 15px;
		--dropdown-side-padding: 8px;
	}

	.dropdown-md-extra-large {
		--dropdown-padding: 10px 20px;
		--dropdown-margin: 15px;
		--dropdown-font-size: 19px;
		--dropdown-min-width: 300px;
		--dropdown-max-height: 300px;
		--dropdown-side-padding: 10px;
	}

	.dropdown-md-small {
		--dropdown-padding: 5px 15px;
		--dropdown-margin: 5px;
		--dropdown-font-size: 14px;
		--dropdown-min-width: 150px;
		--dropdown-max-height: 150px;
		--dropdown-side-padding: 5px;
	}

	.dropdown-md-extra-small {
		--dropdown-margin: 3px;
		--dropdown-padding: 3px 10px;
		--dropdown-font-size: 12px;
		--dropdown-min-width: 130px;
		--dropdown-max-height: 130px;
		--dropdown-side-padding: 3px;
	}
}

@media (min-width: 992px) {

	.dropdown-lg-large {
		--dropdown-padding: 10px 18px;
		--dropdown-font-size: 17px;
		--dropdown-min-width: 250px;
		--dropdown-max-height: 250px;
		--dropdown-margin: 15px;
		--dropdown-side-padding: 8px;
	}

	.dropdown-lg-extra-large {
		--dropdown-padding: 10px 20px;
		--dropdown-margin: 15px;
		--dropdown-font-size: 19px;
		--dropdown-min-width: 300px;
		--dropdown-max-height: 300px;
		--dropdown-side-padding: 10px;
	}

	.dropdown-lg-small {
		--dropdown-padding: 5px 15px;
		--dropdown-margin: 5px;
		--dropdown-font-size: 14px;
		--dropdown-min-width: 150px;
		--dropdown-max-height: 150px;
		--dropdown-side-padding: 5px;
	}

	.dropdown-lg-extra-small {
		--dropdown-margin: 3px;
		--dropdown-padding: 3px 10px;
		--dropdown-font-size: 12px;
		--dropdown-min-width: 130px;
		--dropdown-max-height: 130px;
		--dropdown-side-padding: 3px;
	}
}

@media (min-width: 1200px) {

	.dropdown-xl-large {
		--dropdown-padding: 10px 18px;
		--dropdown-font-size: 17px;
		--dropdown-min-width: 250px;
		--dropdown-max-height: 250px;
		--dropdown-margin: 15px;
		--dropdown-side-padding: 8px;
	}

	.dropdown-xl-extra-large {
		--dropdown-padding: 10px 20px;
		--dropdown-margin: 15px;
		--dropdown-font-size: 19px;
		--dropdown-min-width: 300px;
		--dropdown-max-height: 300px;
		--dropdown-side-padding: 10px;
	}

	.dropdown-xl-small {
		--dropdown-padding: 5px 15px;
		--dropdown-margin: 5px;
		--dropdown-font-size: 14px;
		--dropdown-min-width: 150px;
		--dropdown-max-height: 150px;
		--dropdown-side-padding: 5px;
	}

	.dropdown-xl-extra-small {
		--dropdown-margin: 3px;
		--dropdown-padding: 3px 10px;
		--dropdown-font-size: 12px;
		--dropdown-min-width: 130px;
		--dropdown-max-height: 130px;
		--dropdown-side-padding: 3px;
	}
}


@media screen and (max-width: 500px) {
	.dropdown-menu {
		--dropdown-font-size: 14px;
	}

	.dropdown-item {
		--dropdown-padding: 5px 15px;
	}
}
