:root {
	--tooltip-background: white;
	--tooltip-background-color: white;
	--tooltip-text: var(--text);

	--tooltip-border-radius: 5px;
	--tooltip-left: 50%;
	--tooltip-transform-x: -50%;
	--tooltip-right: 50%;
	--tooltip-top: 100%;
	--tooltip-bottom: -100%;
	--tooltip-padding: 4px;
	--tooltip-font-size: 13px;
}

.tooltip {
	top: calc(var(--tooltip-top) + 10px);
	left: var(--tooltip-left);
	z-index: 999;
	background: var(--tooltip-background);
	color: var(--tooltip-text);
	max-width: 200px;
	box-shadow: 0 1px 13px rgb(0 0 0 / 10%);
	width: max-content;
	display: flex;
	position: absolute;
	border-radius: var(--tooltip-border-radius);
	text-align: left;
	padding: var(--tooltip-padding) calc(var(--tooltip-padding) * 2);
	opacity: 0;
	visibility: hidden;
	font-size: var(--tooltip-font-size);
	transform: translateX(var(--tooltip-transform-x));
}

[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover .tooltip {
	opacity: 1;
	visibility: visible;
}


/*=====Layouts=====*/
.tooltip-rounded {
	--tooltip-border-radius: 10px
}

.tooltip-no-radius {
	--tooltip-border-radius: 0
}

.tooltip-pill {
	--tooltip-border-radius: 50px
}

/*=====Layouts End=====*/

/*=====Variants=====*/
.tooltip-arrow.tooltip:before {
	content: "";
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent var(--tooltip-background) transparent;
	position: absolute;
	top: calc(var(--tooltip-bottom) + 16px);
	left: var(--tooltip-left);
	transform: translateX(-50%);
}

/*=====Variants End=====*/

/*=====Sizes=====*/
.tooltip-extra-large {
	--tooltip-font-size: 18px;
	--tooltip-padding: 8px;
}


.tooltip-large {
	--tooltip-font-size: 16px;
	--tooltip-padding: 6px;
}

.tooltip-small {
	--tooltip-font-size: 10px;
	--tooltip-padding: 3px;
}

.tooltip-extra-small {
	--tooltip-font-size: 8px;
	--tooltip-padding: 2px;
}

/*=====Sizes End=====*/

/*=====Colors=====*/
.tooltip-primary {
	--tooltip-background: var(--primary);
	--tooltip-background-color: var(--primary-color);
	--tooltip-text: var(--primary-text);
}

.tooltip-secondary {
	--tooltip-background: var(--secondary);
	--tooltip-text: var(--secondary-text);
	--tooltip-background-color: var(--secondary-color);
}

.tooltip-light {
	--tooltip-background: var(--light);
	--tooltip-text: var(--light-text);
	--tooltip-background-color: var(--light-color);
}

.tooltip-dark {
	--tooltip-background: var(--dark);
	--tooltip-text: var(--dark-text);
	--tooltip-background-color: var(--dark-color);
}

/*=====Colors End=====*/


/*=====Placements=====*/
.tooltip-bottom-start {
	--tooltip-left: 0;
	--tooltip-transform-x: 0
}

.tooltip-bottom-start:before {
	--tooltip-left: 20px;
}

.tooltip-bottom-end {
	--tooltip-left: 100%;
	--tooltip-transform-x: -100%
}

.tooltip-bottom-end:before {
	--tooltip-left: calc(100% - 20px);
}

.tooltip-left {
	right: calc(100% + 10px);
	left: unset;
	top: 50%;
	transform: translateY(-50%);
}

.tooltip-left:before {
	border-color: transparent transparent transparent var(--tooltip-background);
	top: 50%;
	transform: translateY(-50%);
	--tooltip-left: 100%
}

.tooltip-left-start {
	right: calc(100% + 10px);
	left: unset;
	top: 0%;
	transform: translateY(0%);
}

.tooltip-left-start:before {
	border-color: transparent transparent transparent var(--tooltip-background);
	top: 50%;
	transform: translateY(-50%);
	--tooltip-left: 100%
}

.tooltip-left-end {
	right: calc(100% + 10px);
	left: unset;
	top: 100%;
	transform: translateY(-100%);
}

.tooltip-left-end:before {
	border-color: transparent transparent transparent var(--tooltip-background);
	top: 50%;
	transform: translateY(-50%);
	--tooltip-left: 100%
}

.tooltip-right {
	left: calc(100% + 10px);
	top: 50%;
	transform: translateY(-50%);
}

.tooltip-right:before {
	border-color: transparent var(--tooltip-background) transparent transparent;
	top: 50%;
	transform: translateY(-50%);
	left: -13px;
}

.tooltip-right-start {
	left: calc(100% + 10px);
	top: 0%;
	transform: translateY(0%);
}

.tooltip-right-start:before {
	border-color: transparent var(--tooltip-background) transparent transparent;
	top: 50%;
	transform: translateY(-50%);
	left: -13px;
}

.tooltip-right-end {
	left: calc(100% + 10px);
	top: 100%;
	transform: translateY(-100%);
}

.tooltip-right-end:before {
	border-color: transparent var(--tooltip-background) transparent transparent;
	top: 50%;
	transform: translateY(-50%);
	left: -12px;
}

.tooltip-top {
	bottom: calc(100% + 10px);
	top: unset;
}

.tooltip-top:before {
	bottom: -13px;
	top: unset;
	border-color: var(--tooltip-background) transparent transparent transparent;
}

.tooltip-top-start {
	bottom: calc(100% + 10px);
	top: unset;
	--tooltip-left: 0;
	--tooltip-transform-x: 0;
}

.tooltip-top-start:before {
	--tooltip-left: 20px;
	--tooltip-transform-x: 0;
	bottom: -13px;
	top: unset;
	border-color: var(--tooltip-background) transparent transparent transparent;
}

.tooltip-top-end {
	--tooltip-left: 100%;
	--tooltip-transform-x: -100%;
	bottom: calc(100% + 10px);
	top: unset;
}

.tooltip-top-end:before {
	--tooltip-left: calc(100% - 20px);
	--tooltip-transform-x: 0;
	bottom: -13px;
	top: unset;
	border-color: var(--tooltip-background) transparent transparent transparent;
}

/*=====Placements End=====*/
