:root {
	--tooltip-background: white;
	--tooltip-border-radius: 5px;
	--tooltip-color: #303a52;
	--tooltip-left: 50%;
	--tooltip-transform-x: -50%;
	--tooltip-right: 50%;
	--tooltip-top: 100%;
	--tooltip-bottom: -100%;
}

.tooltip {
	top: calc(var(--tooltip-top) + 10px);
	left: var(--tooltip-left);
	z-index: 999;
	background: var(--tooltip-background);
	color: var(--tooltip-color);
	max-width: 200px;
	box-shadow: 0 1px 13px rgb(0 0 0 / 10%);
	width: max-content;
	display: flex;
	position: absolute;
	border-radius: var(--tooltip-border-radius);
	text-align: left;
	padding: 4px 8px;
	opacity: 0;
	visibility: hidden;
	font-size: 13px;
	transform: translateX(var(--tooltip-transform-x));
}

[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover .tooltip {
	opacity: 1;
	visibility: visible;
}

.tooltip-arrow.tooltip:before {
	content: "";
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent var(--tooltip-background) transparent;
	position: absolute;
	top: calc(var(--tooltip-bottom) + 16px);
	left: var(--tooltip-left);
	transform: translateX(-50%);
}

/*Tooltip Layouts*/
.tooltip-rounded {
	--tooltip-border-radius: 10px
}

.tooltip-no-radius {
	--tooltip-border-radius: 0
}

.tooltip-pill {
	--tooltip-border-radius: 50px
}

/*Tooltip Placements*/
.tooltip-bottom-start {
	--tooltip-left: 0;
	--tooltip-transform-x: 0
}

.tooltip-bottom-start:before {
	--tooltip-left: 20px;
}

.tooltip-bottom-end {
	--tooltip-left: 100%;
	--tooltip-transform-x: -100%
}

.tooltip-bottom-end:before {
	--tooltip-left: calc(100% - 20px);
}

.tooltip-left {
	right: calc(100% + 10px);
	left: unset;
	top: 50%;
	transform: translateY(-50%);
}

.tooltip-left:before {
	border-color: transparent transparent transparent var(--tooltip-background);
	top: 50%;
	transform: translateY(-50%);
	--tooltip-left: 100%
}

.tooltip-left-start {
	right: calc(100% + 10px);
	left: unset;
	top: 0%;
	transform: translateY(0%);
}

.tooltip-left-start:before {
	border-color: transparent transparent transparent var(--tooltip-background);
	top: 50%;
	transform: translateY(-50%);
	--tooltip-left: 100%
}

.tooltip-left-end {
	right: calc(100% + 10px);
	left: unset;
	top: 100%;
	transform: translateY(-100%);
}

.tooltip-left-end:before {
	border-color: transparent transparent transparent var(--tooltip-background);
	top: 50%;
	transform: translateY(-50%);
	--tooltip-left: 100%
}

.tooltip-right {
	left: calc(100% + 10px);
	top: 50%;
	transform: translateY(-50%);
}

.tooltip-right:before {
	border-color: transparent var(--tooltip-background) transparent transparent;
	top: 50%;
	transform: translateY(-50%);
	left: -13px;
}

.tooltip-right-start {
	left: calc(100% + 10px);
	top: 0%;
	transform: translateY(0%);
}

.tooltip-right-start:before {
	border-color: transparent var(--tooltip-background) transparent transparent;
	top: 50%;
	transform: translateY(-50%);
	left: -13px;
}

.tooltip-right-end {
	left: calc(100% + 10px);
	top: 100%;
	transform: translateY(-100%);
}

.tooltip-right-end:before {
	border-color: transparent var(--tooltip-background) transparent transparent;
	top: 50%;
	transform: translateY(-50%);
	left: -12px;
}

.tooltip-top {
	bottom: calc(100% + 10px);
	top: unset;
}

.tooltip-top:before {
	bottom: -13px;
	top: unset;
	border-color: var(--tooltip-background) transparent transparent transparent;
}

.tooltip-top-start {
	bottom: calc(100% + 10px);
	top: unset;
	--tooltip-left: 0;
	--tooltip-transform-x: 0;
}

.tooltip-top-start:before {
	--tooltip-left: 20px;
	--tooltip-transform-x: 0;
	bottom: -13px;
	top: unset;
	border-color: var(--tooltip-background) transparent transparent transparent;
}

.tooltip-top-end {
	--tooltip-left: 100%;
	--tooltip-transform-x: -100%;
	bottom: calc(100% + 10px);
	top: unset;
}

.tooltip-top-end:before {
	--tooltip-left: calc(100% - 20px);
	--tooltip-transform-x: 0;
	bottom: -13px;
	top: unset;
	border-color: var(--tooltip-background) transparent transparent transparent;
}

/*Tooltip Themes*/
.tooltip-primary {
	--tooltip-background: var(--primary);
	--tooltip-color: white;
}

.tooltip-secondary {
	--tooltip-background: var(--secondary);
	--tooltip-color: white;
}

.tooltip-dark {
	--tooltip-background: var(--dark);
	--tooltip-color: white;
}


@media (min-width: 576px) {
	.tooltip-sm-dark {
		--tooltip-background: var(--dark-color);
		--tooltip-color: white;
	}

	.tooltip-sm-up {
		bottom: calc(100% + 10px);
		top: unset;
	}

	.tooltip-sm-right {
		left: calc(100% + 10px);
		top: 50%;
		transform: translateY(-50%);
	}

	.tooltip-sm-left {
		right: calc(100% + 10px);
		left: unset;
		top: 50%;
		transform: translateY(-50%);
	}

	.tooltip-sm-up:before {
		bottom: -14px;
		top: unset;
		border-color: var(--tooltip-background) transparent transparent transparent;
	}

	.tooltip-sm-right:before {
		border-color: transparent var(--tooltip-background) transparent transparent;
		top: 6px;
		left: -13px;
	}

	.tooltip-sm-left:before {
		border-color: transparent transparent transparent var(--tooltip-background);
		top: 6px;
		left: unset;
		right: -13px;
	}

}

@media (min-width: 768px) {
	.tooltip-md-dark {
		--tooltip-background: var(--dark-color);
		--tooltip-color: white;
	}

	.tooltip-md-up {
		bottom: calc(100% + 10px);
		top: unset;
	}

	.tooltip-md-right {
		left: calc(100% + 10px);
		top: 50%;
		transform: translateY(-50%);
	}

	.tooltip-md-left {
		right: calc(100% + 10px);
		left: unset;
		top: 50%;
		transform: translateY(-50%);
	}

	.tooltip-md-up:before {
		bottom: -14px;
		top: unset;
		border-color: var(--tooltip-background) transparent transparent transparent;
	}

	.tooltip-md-right:before {
		border-color: transparent var(--tooltip-background) transparent transparent;
		top: 6px;
		left: -13px;
	}

	.tooltip-md-left:before {
		border-color: transparent transparent transparent var(--tooltip-background);
		top: 6px;
		left: unset;
		right: -13px;
	}

}

@media (min-width: 992px) {
	.tooltip-lg-dark {
		--tooltip-background: var(--dark-color);
		--tooltip-color: white;
	}

	.tooltip-lg-up {
		bottom: calc(100% + 10px);
		top: unset;
	}

	.tooltip-lg-right {
		left: calc(100% + 10px);
		top: 50%;
		transform: translateY(-50%);
	}

	.tooltip-lg-left {
		right: calc(100% + 10px);
		left: unset;
		top: 50%;
		transform: translateY(-50%);
	}

	.tooltip-lg-up:before {
		bottom: -14px;
		top: unset;
		border-color: var(--tooltip-background) transparent transparent transparent;
	}

	.tooltip-lg-right:before {
		border-color: transparent var(--tooltip-background) transparent transparent;
		top: 6px;
		left: -13px;
	}

	.tooltip-lg-left:before {
		border-color: transparent transparent transparent var(--tooltip-background);
		top: 6px;
		left: unset;
		right: -13px;
	}

}

@media (min-width: 1200px) {
	.tooltip-xl-dark {
		--tooltip-background: var(--dark-color);
		--tooltip-color: white;
	}

	.tooltip-xl-up {
		bottom: calc(100% + 10px);
		top: unset;
	}

	.tooltip-xl-right {
		left: calc(100% + 10px);
		top: 50%;
		transform: translateY(-50%);
	}

	.tooltip-xl-left {
		right: calc(100% + 10px);
		left: unset;
		top: 50%;
		transform: translateY(-50%);
	}

	.tooltip-xl-up:before {
		bottom: -14px;
		top: unset;
		border-color: var(--tooltip-background) transparent transparent transparent;
	}

	.tooltip-xl-right:before {
		border-color: transparent var(--tooltip-background) transparent transparent;
		top: 6px;
		left: -13px;
	}

	.tooltip-xl-left:before {
		border-color: transparent transparent transparent var(--tooltip-background);
		top: 6px;
		left: unset;
		right: -13px;
	}

}
