:root {
	--progress-bar-size: 300px;
	--progress-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 0px;
	--progress-box-shadow-hover: rgba(0, 0, 0, 0.05) 0px 0px 3px 2px;
	--progress-border-radius: 4px;
	--progress-font-size: 16px;
	--progress-margin: 15px;
	--progress-cursor: pointer;
	--progress-outline-width: 2px;
	--progress-padding: 0px;
	--progress-main-bg: #f8f8f8;
	--progress-circular-size: calc(var(--progress-font-size) * 4);
	--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);

}

.progress-inner {
	position: relative;
	display: inline-flex;
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
	background: white;
	border-radius: var(--progress-border-radius);
	box-shadow: var(--progress-box-shadow);
}

.progress-multiple {
	color: white;
}

.progress-multiple .progress-bar:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.progress-multiple .progress-bar:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.progress-multiple .progress-bar:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.progress-inner:hover {
	box-shadow: var(--progress-box-shadow-hover);
}

.progress {
	display: flex;
	align-items: center;
	margin-bottom: var(--progress-margin);
}

span.progress-text {
	margin-left: var(--progress-margin);
	font-size: var(--progress-font-size);
	color: var(--text-color);
}

.progress-label-inside .progress-bar {
	font-size: calc(var(--progress-font-size) - 4px);
	text-align: center;
}

.progress-line.progress-label-inside .progress-bar {
	color: transparent !important;
}

.progress-bar {
	border-radius: var(--progress-border-radius);
	height: var(--progress-font-size);
	background: var(--primary);
	color: white;
}

.progress-rounded {
	--progress-border-radius: 6px;
}

.progress-no-radius {
	--progress-border-radius: 0px;
}

.progress-pill {
	--progress-border-radius: 50px;
}


.progress-circular .progress-inner {
	box-shadow: none !important;
	width: auto;
}

.progress-circular span.progress-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.progress-circular {
	position: relative;
	width: auto;
	display: inline-flex;
}

.progress-circular span.progress-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 !important;
}

.progress svg {
	--progress-border-radius: 50%;
	border-radius: var(--progress-border-radius);
	transform: rotate(-90deg);
	box-shadow: var(--progress-box-shadow);
	width: var(--progress-circular-size);
	height: var(--progress-circular-size);
}

.progress-bar-background {
	fill: none;
	stroke: var(--progress-main-bg);
	stroke-width: var(--progress-bar-stroke-width);
}

.progress-bar-progress {
	fill: none;
	stroke: var(--primary);
	stroke-dasharray: 100 100;
	stroke-dashoffset: 100;
	stroke-linecap: round;
	stroke-width: var(--progress-bar-stroke-width);
	transition: stroke-dashoffset 1s ease-in-out;
}

.progress-line.progress-circular {
	--progress-bar-stroke-width: 2px;
}

/*Color*/
.progress-outline.progress-primary .progress-bar {
	--primary-lightness: 59%;
	--primary: hsla(var(--primary-hue, 230), var(--primary-saturation, 87%), var(--primary-lightness, 59%), var(--primary-alpha, 1));
	--primary-color: var(--primary);
	background: var(--primary);
	color: white;
}

.progress-secondary .progress-bar {
	--secondary-lightness: 42%;
	--secondary: hsla(var(--secondary-hue, 187), var(--secondary-saturation, 100%), var(--secondary-lightness, 42%), var(--secondary-alpha, 1));
	--secondary-color: var(--secondary);
	background: var(--secondary);
	color: white;
}

.progress-light .progress-bar {
	background: var(--progress-main-bg);
	color: #303a52;
}

.progress-dark .progress-bar {
	--dark-lightness: 18%;
	--dark: hsla(var(--dark-hue, 218), var(--dark-saturation, 36%), var(--dark-lightness, 18%), var(--dark-alpha, 1));
	--dark-color: var(--dark);
	background: var(--dark);
	color: white;
}


.progress-primary .progress-bar-progress {
	stroke: var(--primary);
}

.progress-secondary .progress-bar-progress {
	stroke: var(--secondary);
}

.progress-light .progress-bar-progress {
	stroke: var(--dark);
}

.progress-dark .progress-bar-progress {
	stroke: #ebebeb;
}


/*Variants*/
.progress-outline {
	border: var(--progress-outline-width) solid transparent;
}

.progress-outline:not(.progress-circular) .progress-inner {
	--primary-lightness: 95%;
	--primary: hsla(var(--primary-hue, 230), var(--primary-saturation, 87%), var(--primary-lightness, 59%), var(--primary-alpha, 1));
	background: var(--primary);
}

.progress-outline.progress-secondary:not(.progress-circular) .progress-inner {
	--secondary-lightness: 95%;
	--secondary: hsla(var(--secondary-hue, 230), var(--secondary-saturation, 87%), var(--secondary-lightness, 59%), var(--secondary-alpha, 1));
	background: var(--secondary);
}

.progress-outline.progress-light:not(.progress-circular) .progress-inner {
	--light-lightness: 94%;
	--light: hsla(var(--light-hue, 230), var(--light-saturation, 87%), var(--light-lightness, 59%), var(--light-alpha, 1));
	background: var(--light);
}

.progress-outline.progress-dark:not(.progress-circular) .progress-inner {
	--dark-lightness: 95%;
	--dark: hsla(var(--dark-hue, 230), var(--dark-saturation, 87%), var(--dark-lightness, 59%), var(--dark-alpha, 1));
	background: var(--dark);
}


.progress-outline .progress-bar-background {
	--primary-lightness: 95%;
	--primary: hsla(var(--primary-hue, 230), var(--primary-saturation, 87%), var(--primary-lightness, 59%), var(--primary-alpha, 1));
	stroke: var(--primary);
}

.progress-outline.progress-secondary .progress-bar-background {
	--secondary-lightness: 95%;
	--secondary: hsla(var(--secondary-hue, 230), var(--secondary-saturation, 87%), var(--secondary-lightness, 59%), var(--secondary-alpha, 1));
	stroke: var(--secondary);
}

.progress-outline.progress-dark .progress-bar-background {
	--dark-lightness: 95%;
	--dark: hsla(var(--dark-hue, 230), var(--dark-saturation, 87%), var(--dark-lightness, 59%), var(--dark-alpha, 1));
	stroke: var(--dark);
}

.progress-outline.progress-light .progress-bar-background {
	--light-lightness: 95%;
	--light: hsla(var(--light-hue, 230), var(--light-saturation, 87%), var(--light-lightness, 59%), var(--light-alpha, 1));
	stroke: var(--light);
}

.progress-fluid .progress-inner, .progress-fluid.progress svg {
	--progress-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;;
	--progress-padding: 3px;
	padding: var(--progress-padding);
	background: white;
}


.progress-line .progress-bar {
	height: 5px;
	border-radius: 0;
}

.progress-line .progress-inner {
	border-radius: 0;
}

.progress-striped .progress-bar {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}

@media screen and (max-width: 500px) {
	.progress {
		--progress-padding: 10px;
		--progress-font-size: 14px;
	}
}

/*Sizing*/


.progress-extra-large {
	--progress-font-size: 25px;
	--progress-circular-size: calc(var(--progress-font-size) * 6);
	--progress-bar-stroke-width: calc(var(--progress-font-size) / 4);
}


.progress-large {
	--progress-font-size: 20px;
	--progress-circular-size: calc(var(--progress-font-size) * 5);
	--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
}

.progress-small {
	--progress-font-size: 12px;
	--progress-circular-size: calc(var(--progress-font-size) * 4);
	--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
}

.progress-extra-small {
	--progress-font-size: 8px;
	--progress-circular-size: calc(var(--progress-font-size) * 4);
	--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
}

@media (min-width: 576px) {
	.progress-sm-large {
		--progress-font-size: 20px;
		--progress-circular-size: calc(var(--progress-font-size) * 5);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}

	.progress-sm-extra-large {
		--progress-font-size: 25px;
		--progress-circular-size: calc(var(--progress-font-size) * 6);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 4);
	}

	.progress-sm-small {
		--progress-font-size: 12px;
		--progress-circular-size: calc(var(--progress-font-size) * 4);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}

	.progress-sm-extra-small {

		--progress-font-size: 8px;
		--progress-circular-size: calc(var(--progress-font-size) * 4);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}
}

@media (min-width: 768px) {
	.progress-md-large {
		--progress-font-size: 20px;
		--progress-circular-size: calc(var(--progress-font-size) * 5);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}

	.progress-md-extra-large {
		--progress-font-size: 25px;
		--progress-circular-size: calc(var(--progress-font-size) * 6);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 4);
	}

	.progress-md-small {
		--progress-font-size: 12px;
		--progress-circular-size: calc(var(--progress-font-size) * 4);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}

	.progress-md-extra-small {
		--progress-font-size: 8px;
		--progress-circular-size: calc(var(--progress-font-size) * 4);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}
}

@media (min-width: 992px) {
	.progress-lg-large {
		--progress-font-size: 20px;
		--progress-circular-size: calc(var(--progress-font-size) * 5);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}

	.progress-lg-extra-large {
		--progress-font-size: 25px;
		--progress-circular-size: calc(var(--progress-font-size) * 6);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 4);
	}

	.progress-lg-small {
		--progress-font-size: 12px;
		--progress-circular-size: calc(var(--progress-font-size) * 4);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}

	.progress-lg-extra-small {
		--progress-font-size: 8px;
		--progress-circular-size: calc(var(--progress-font-size) * 4);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}
}

@media (min-width: 1200px) {
	.progress-xl-large {
		--progress-font-size: 20px;
		--progress-circular-size: calc(var(--progress-font-size) * 5);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}

	.progress-xl-extra-large {
		--progress-font-size: 25px;
		--progress-circular-size: calc(var(--progress-font-size) * 6);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 4);
	}

	.progress-xl-small {
		--progress-font-size: 12px;
		--progress-circular-size: calc(var(--progress-font-size) * 4);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}

	.progress-xl-extra-small {
		--progress-font-size: 8px;
		--progress-circular-size: calc(var(--progress-font-size) * 4);
		--progress-bar-stroke-width: calc(var(--progress-font-size) / 2.8);
	}
}

