:root {
	--accordion-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	--accordion-border-radius: 5px;
	--accordion-padding: 15px;
	--accordion-font-size: 16px;
	--accordion-margin: 10px;
	--accordion-border-width: 2px;
	--accordion-background: white;
	--accordion-background-color: white;
	--accordion-text: inherit;
}

.accordion {
	font-family: 'Nunito Sans', sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.5;
	font-weight: 400;
	font-size: var(--font-size);
	-moz-box-shadow: var(--accordion-box-shadow);
	-webkit-box-shadow: var(--accordion-box-shadow);
	box-shadow: var(--accordion-box-shadow);
	border-radius: var(--accordion-border-radius);
	margin-bottom: var(--accordion-margin);
}

.accordion-header {
	color: var(--accordion-text);
	padding: var(--accordion-padding);
	border-radius: var(--accordion-border-radius);
	font-weight: 600;
	position: relative;
	padding-right: calc(var(--accordion-padding) * 3);
	cursor: pointer;
	background: var(--accordion-background);
	user-select: none;
	border: none;
	width: 100%;
	text-align: left;
}

.accordion-header:focus {
	outline: 2px solid red;
}

.accordion-header:before {
	position: absolute;
	content: "";
	top: calc(50% - 5px);
	right: calc(var(--accordion-margin) + 15px);
	width: calc(var(--accordion-font-size) - 6px);
	height: calc(var(--accordion-font-size) - 6px);
	border: 2px solid var(--accordion-text);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	transform-origin: center;
	border-top: 0;
	border-left: 0;
}

.accordion-open .accordion-header:before {
	-webkit-transform: rotate(45deg) translateY(-50%);
	-ms-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);
}

.accordion-text {
	color: inherit;
	font-weight: 600;
	display: flex;
	align-items: center;
}

.accordion-disabled {
	cursor: not-allowed;
	opacity: .8;
}

.accordion-icon-left {
	margin: 0 var(--accordion-margin) 0 0;
}

.accordion-icon-right {
	margin: 0 0 0 auto;
	font-size: var(--accordion-font-size);
}

.accordion-indicator-left .accordion-header:before {
	right: unset;
	left: calc(var(--accordion-margin) + 8px);
}

.accordion-indicator-left .accordion-header {
	padding-right: var(--accordion-padding);
	padding-left: calc(var(--accordion-padding) * 3);
}

.accordion-panel {
	margin: 0 0 var(--accordion-margin) 0;
	padding: 0 var(--accordion-padding) 0 var(--accordion-padding);
	border-radius: 0 0 var(--accordion-border-radius) var(--accordion-border-radius);
	height: 0;
	overflow: hidden;
}

.accordion-open .accordion-panel {
	height: inherit;
}

.accordion-body {
	color: var(--text);
}

.accordion-body :last-child {
	margin-bottom: 0;
}

/*=====Layout=====*/

.accordion-rounded {
	--accordion-border-radius: 10px;
}

.accordion-no-radius {
	--accordion-border-radius: 0px;
}

.accordion-pill {
	--accordion-border-radius: 50px;
}

.accordion-pill .accordion-header {
	padding: var(--accordion-padding) calc(var(--accordion-padding) * 3) var(--accordion-padding) calc(var(--accordion-padding) * 2);
}

/*=====Layout End=====*/

/*=====Colors=====*/
.accordion-primary {
	--accordion-background: var(--primary);
	--accordion-background-color: var(--primary-color);
	--accordion-text: var(--primary-text);
}

.accordion-secondary {
	--accordion-background: var(--secondary);
	--accordion-background-color: var(--secondary-color);
	--accordion-text: var(--secondary-text);
}

.accordion-light {
	--accordion-background: var(--light);
	--accordion-background-color: var(--light-color);
	--accordion-text: var(--light-text);
}

.accordion-dark {
	--accordion-background: var(--dark);
	--accordion-background-color: var(--dark-color);
	--accordion-text: var(--dark-text);
}

/*=====Colors End=====*/

/*=====Variants=====*/

.accordion-outlined .accordion {
	border: var(--accordion-border-width) solid var(--accordion-background);
}

.accordion-outlined .accordion-header {
	border-radius: calc(var(--accordion-border-radius) - 3px);
}

.accordion-outlined .accordion .accordion-panel {
	margin-bottom: 0;
}

.accordion-separate .accordion {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.accordion-separate .accordion-panel {
	margin: var(--accordion-margin) 0;
	background: var(--accent-bg);
	border-radius: var(--accordion-border-radius);
}

.accordion-attached {
	-moz-box-shadow: var(--accordion-box-shadow);
	-webkit-box-shadow: var(--accordion-box-shadow);
	box-shadow: var(--accordion-box-shadow);
	border-radius: var(--accordion-border-radius);
}

.accordion-attached .accordion {
	box-shadow: none;
}

.accordion-attached .accordion, .accordion-attached .accordion .accordion-panel {
	margin-bottom: 0;
}

.accordion-attached .accordion .accordion-header {
	border-radius: 0;
	border-bottom: var(--accordion-border-width) solid var(--border-color);
}

.accordion-attached .accordion:first-child .accordion-header {
	border-top-left-radius: var(--accordion-border-radius);
	border-top-right-radius: var(--accordion-border-radius);
}

.accordion-attached .accordion:last-child .accordion-header {
	border-bottom-left-radius: var(--accordion-border-radius);
	border-bottom-right-radius: var(--accordion-border-radius);
}

/*=====Variants End=====*/

/*=====Sizes=====*/
.accordion-extra-large {
	--accordion-padding: 25px;
	--accordion-font-size: 20px;
	--accordion-margin: 20px;
}

.accordion-large {
	--accordion-padding: 20px;
	--accordion-font-size: 18px;
	--accordion-margin: 15px;
}

.accordion-small {
	--accordion-padding: 10px;
	--accordion-font-size: 14px;
	--accordion-margin: 13px;
}

.accordion-extra-small {
	--accordion-padding: 5px;
	--accordion-font-size: 13px;
	--accordion-margin: 5px;
}

/*=====Sizes End=====*/
