.bg-primary {
	background: var(--primary) !important;
	color: white !important;
}

.bg-primary::before {
	border-color: white !important;
}

.bg-secondary {
	background: var(--secondary) !important;
	color: white !important;
}

.bg-secondary::before {
	border-color: white !important;
}


.bg-light {
	background: var(--light) !important;
	color: #303a52 !important;
}

.bg-dark {
	background: var(--dark) !important;
	color: white !important;
}

.bg-dark::before {
	border-color: white !important;
}


.text-primary {
	color: var(--primary) !important;
}

.text-primary::before {
	border-color: white !important;
}

.text-secondary {
	color: var(--secondary) !important;
}

.text-secondary::before {
	border-color: white !important;
}


.text-light {
	color: var(--light) !important;
}

.text-dark {
	color: var(--dark) !important;
}

.text-dark::before {
	border-color: white !important;
}
