.bg-primary {
	background: var(--primary) !important;
	color: var(--primary-text) !important;
}

.bg-primary a {
	color: var(--primary-text) !important;
}

.bg-primary::before {
	border-color: var(--primary-text) !important;
}

.bg-secondary {
	background: var(--secondary) !important;
	color: var(--secondary-text) !important;
}

.bg-secondary a {
	color: var(--secondary-text) !important;
}

.bg-secondary::before {
	border-color: var(--secondary-text) !important;
}


.bg-light {
	background: var(--light) !important;
	color: var(--light-text) !important;
}

.bg-light a {
	color: var(--light-text) !important;
}

.bg-dark {
	background: var(--dark) !important;
	color: var(--dark-text) !important;
}

.bg-dark a {
	color: var(--dark-text) !important;
}

.bg-dark::before {
	border-color: var(--dark-text) !important;
}


.text-primary {
	color: var(--primary-color) !important;
}

.text-primary::before {
	border-color: var(--primary-text) !important;
}

.text-secondary {
	color: var(--secondary-color) !important;
}

.text-secondary::before {
	border-color: var(--secondary-text) !important;
}

.text-light {
	color: var(--light-color) !important;
}

.text-dark {
	color: var(--dark-color) !important;
}

.text-dark::before {
	border-color: var(--dark-text) !important;
}
