@import "https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ai-bg: #fff;
    --ai-bg-alt: #dddddd2b;
    --ai-font-family: 'Nunito Sans', sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ai-font-weight: 400;
    --ai-font-size: 1rem;
    --ai-line-height: 1.5

    --ai-text: hsla(222, 26%, 25%, 1);
    --ai-link: hsla(231, 86%, 59%, 1);
    --ai-scroll: #f1f1f1;
    --ai-border-color: #eeeeee;
    --ai-gap: 15px;

    --ai-z-index-dropdown: 1000;
    --ai-z-index-sticky: 1020;
    --ai-z-index-fixed: 1030;
    --ai-z-index-modal-backdrop: 1040;
    --ai-z-index-offcanvas: 1050;
    --ai-z-index-modal: 1060;
    --ai-z-index-popover: 1070;
    --ai-z-index-tooltip: 1080;

    --ai-primary: hsla(235, 100%, 50%, 1);
    --ai-primary-color: var(--ai-primary);
    --ai-primary-text: hsl(0, 0%, 100%);
    --ai-primary-hover: hsla(230, 87%, 45%, 1);
    --ai-primary-color-hover: var(--ai-primary-hover);
    --ai-primary-text-hover: var(--ai-bg);
    --ai-primary-hover-box-shadow: hsla(235, 100%, 85%, 1);

    --ai-secondary: hsla(332deg, 96%, 48%, 1);
    --ai-secondary-color: var(--ai-secondary);
    --ai-secondary-text: hsl(0, 0%, 100%);
    --ai-secondary-hover: hsla(332, 96%, 33%, 1);
    --ai-secondary-color-hover: var(--ai-secondary-hover);
    --ai-secondary-text-hover: var(--ai-bg);
    --ai-secondary-hover-box-shadow: hsla(332, 96%, 85%, 1);

    --ai-light: hsla(180, 23%, 95%, 1);
    --ai-light-alt: var(--ai-light);
    --ai-light-color: var(--ai-light);
    --ai-light-text: hsl(221, 18%, 34%);
    --ai-light-hover: hsla(180, 23%, 85%, 1);
    --ai-light-color-hover: var(--ai-light-hover);
    --ai-light-text-hover: var(--ai-bg);
    --ai-light-hover-box-shadow: hsla(180, 23%, 85%, 1);

    --ai-dark: hsla(0, 0%, 16%, 1);
    --ai-dark-color: var(--ai-dark);
    --ai-dark-text: hsl(0, 0%, 100%);
    --ai-dark-hover: hsla(0, 0%, 11%, 1);
    --ai-dark-color-hover: var(--ai-dark-hover);
    --ai-dark-text-hover: var(--ai-bg);
    --ai-dark-hover-box-shadow: hsla(0, 0%, 85%, 1);
}

@font-face {
    font-family: 'Segoe UI';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-bold.woff2') format('woff2'), url('https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

*, ::after, ::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    outline: 0;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

html, body {
    margin: 0;
    font-family: var(--ai-font-family);
    line-height: var(--ai-line-height);
    font-weight: var(--ai-font-weight);
    font-size: var(--ai-font-size);
    -webkit-text-size-adjust: 100%;
    background-color: var(--ai-bg);
    -webkit-tap-highlight-color: transparent;
    color: var(--ai-text);

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ai-font-family);
    margin-top: 0;
    font-weight: 600;
    line-height: var(--ai-line-height);
    margin-bottom: 0;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.75rem;
    }
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4 {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: var(--ai-font-size);
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--ai-font-family);
    line-height: var(--ai-line-height);
    font-weight: var(--ai-font-weight);
    font-size: var(--ai-font-size);
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 0.875em;
}

mark {
    padding: 0.2em;
    background-color: #fcf8e3;
}

sub,
sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
    direction: ltr /* rtl:ignore */;
    unicode-bidi: bidi-override;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.875em;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

code {
    font-size: 0.875em;
    color: #d63384;
    word-wrap: break-word;
}

a > code {
    color: inherit;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 0.875em;
    color: var(--ai-bg);
    background-color: #212529;
    border-radius: 0.2rem;
}

kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700;
}

figure {
    margin: 0 0 1rem;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #6c757d;
    text-align: left;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

label {
    display: inline-block;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

button,
select {
    text-transform: none;
}

[role=button] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

select:disabled {
    opacity: 1;
}

hr {
    margin: 0.5rem 0;
    color: inherit;
    background-color: gray;
    border: 0;
}

hr:not([size]) {
    height: 1px;
}

img,
svg {
    vertical-align: middle;
}

svg {
    vertical-align: middle;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important
}

input:focus {
    outline: none;
}

button {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media screen and (max-width: 576px) {
    html, body {
        --ai-font-size: 0.9375rem;
    }
}
